/*universal styles*/
html {
  font-family: helvetica;
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  font-size: 3rem;
  padding: 1rem 0;
  font-weight: bolder;
}

h2 {
  font-size: 2rem;
  padding: 1rem 0;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  text-transform: uppercase;
  padding: 1rem 0;
}

a {
  color: black;
  text-decoration: none;
}

/*header*/
.header {
  height: 4rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.bar {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

ul li {
  padding-left: 1rem;
}

li a {
  text-decoration: none;
  color: black;
}

.mobile{
  display: none;
}

@media only screen and (max-width: 610px) {
  .desktop {
    display: none;
  }

  .mobile {
    width: 100%;
    display: block;
  }

  .mobile nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*first section*/
.first-section {
  padding: 2rem 1.5rem;
  display: flex;
  background-color: darkgray;
}
/*banner*/
.box {
  width: 60%;
  padding-right: 1.5rem;
}

.box img {
  display: block;
  width: 100%;
}

/*caption*/
.caption {
  width: 30%;
  padding: 0 1.5rem;
}

.button{
  background-color: gray;
  padding: 0.5rem 0;
  text-align: center;
}

.first-section .caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 2.0rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 610px) {
  .first-section {
    flex-wrap: wrap;
    padding: 0;
  }

  .box {
    width: 100%;
    padding: 0;
  }

  .caption {
    padding: 2rem 1.5rem;
    width: 100%;
  }

  h1 {
    padding-top: 0;
    padding-bottom: 2rem;
  }

  h2 {
    padding-top: 0;
    padding-bottom: 1.5rem;
  }
}


/*second section*/
.second-section {
  padding: 2rem 0 2rem 1.5rem;
  display: flex;
  background-color: aliceblue;
}

/*article*/
.info h1 {
  padding: 2rem 0 1.5rem 0;
}

/*right column*/
.column {
  width: 40%;
}

.column .feature {
  display: flex;
  align-items: center;
}

.feature {
  padding: 1rem 1rem;
  border: 1px solid gray;
}

.pic {
  width: 35%;
  height: auto;
}

.pic .mobile {
  display: none;
}

.pic img {
  display: block;
  width: 100%;
}

.text{
  padding-left: 1rem;
}

.text p {
  padding: 1rem 0;
}

@media only screen and (max-width: 610px) {
  .second-section{
    padding-left: 0;
  }

  .article {
    display: none;
  }

  .column {
    width: 100%;
  }

  .column .feature {
    flex-direction: column;
    align-items: flex-start;
  }

  .pic {
    width: 100%;
    padding: 1rem 0;
  }


  .pic .mobile{
    display: block;
  }

  .pic .desktop {
    display: none;
  }
}

/*third section*/
.third-section {
  padding: 2rem 4.5rem;
  background-color: darkgray;
}

.third-section h1 {
  text-align: center;
  padding-top: 0;
  padding-bottom: 2rem;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course {
  width: 25%;
  padding: 0 2rem 2rem 0;
  height: 26rem;
}

.course img {
  display: block;
  height: auto;
  width: 100%;
}

.lessons {
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: white;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 610px) {
  .third-section {
  padding: 2rem 1rem;
  }

  .third-section h1{
    padding-bottom: 1rem;
  }

  .courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .course {
    height: auto;
    width: inherit;
    padding: 0;
  }

  .course div img {
    display: none;
  }

  .course div h4, .course div p {
    display: none;
  }

  .course div h3 {
    padding: 1rem 1rem 1.5rem 1rem;
    margin-bottom: 1rem;
  }

  .lessons {
    padding: 0;
    display: block;
    height: inherit;
  }
}

/*fourth section*/
.fourth-section {
  padding: 2rem 0rem 2rem 1rem;
  background-color: aliceblue;
}

.fourth-section h1{
  padding-bottom: 2rem;
  text-align: center;
}

.flex {
  display: flex;
}

.box video {
  display: block;
  width: 100%;
}

.info h2 {
  padding: 1.5rem 0 1rem 0;
}

@media only screen and (max-width: 610px) {
  .urban {
    display: none;
  }

  .fourth-section {
    padding: 2rem 0 1.5rem 0;
  }

  .fourth-section h1{
    padding-bottom: 1rem;
  }
}

/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

@media only screen and (max-width: 610px) {
.right{
  display: none;
}

.left {
  padding: 1rem 0;
}
}
